<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>

  <body class="">
    <header><%- include('../../partials/header'); %></header>

    <main>

        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="py-3 px-6 sticky left-0 bg-white z-10">
                            Name
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Total working hours
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Shift working hours
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center sticky top-0 ">
                            6:00~6:10
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            6:11~6:20
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            6:21~6:30
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            6:31~6:40
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            6:41~6:50
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            6:51~7:00
                        </th>


                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            7:00~7:10
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            7:11~7:20
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            7:21~7:30
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            7:31~7:40
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            7:41~7:50
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            7:51~8:00
                        </th>


                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            8:00~8:10
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            8:11~8:20
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            8:21~8:30
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            8:31~8:40
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            8:41~8:50
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            8:51~9:00
                        </th>

                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            9:00~9:10
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            9:11~9:20
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            9:21~9:30
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            9:31~9:40
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            9:41~9:50
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            9:51~10:00
                        </th>           
                        
                        

                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            10:00~10:10
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            10:11~10:20
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            10:21~10:30
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            10:31~10:40
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            10:41~10:50
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            10:51~11:00
                        </th>  

                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            11:00~11:10
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            11:11~11:20
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            11:21~11:30
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            11:31~11:40
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            11:41~11:50
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            11:51~12:00
                        </th>      

                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            12:00~12:10
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            12:11~12:20
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            12:21~12:30
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            12:31~12:40
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            12:41~12:50
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            12:51~13:00
                        </th>                                              

                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            13:00~13:10
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            13:11~13:20
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            13:21~13:30
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            13:31~13:40
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            13:41~13:50
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            13:51~14:00
                        </th>                                              

                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            14:00~14:10
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            14:11~14:20
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            14:21~14:30
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            14:31~14:40
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            14:41~14:50
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            14:51~15:00
                        </th>                                                                      

                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            15:00~15:10
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            15:11~15:20
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            15:21~15:30
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            15:31~15:40
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            15:41~15:50
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            15:51~16:00
                        </th>                                                                      

                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            16:00~16:10
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            16:11~16:20
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            16:21~16:30
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            16:31~16:40
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            16:41~16:50
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            16:51~17:00
                        </th>          

                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            17:00~17:10
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            17:11~17:20
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            17:21~17:30
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            17:31~17:40
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            17:41~17:50
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            17:51~18:00
                        </th>                 

                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            18:00~18:10
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            18:11~18:20
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            18:21~18:30
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            18:31~18:40
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            18:41~18:50
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            18:51~19:00
                        </th>                 

                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            19:00~19:10
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            19:11~19:20
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            19:21~19:30
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            19:31~19:40
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            19:41~19:50
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            19:51~20:00
                        </th> 
                        

                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            20:00~20:10
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            20:11~20:20
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            20:21~20:30
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            20:31~20:40
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            20:41~20:50
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            20:51~21:00
                        </th> 


                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            21:00~21:10
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            21:11~21:20
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            21:21~21:30
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            21:31~21:40
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            21:41~21:50
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            21:51~22:00
                        </th>             

                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            22:00~22:10
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            22:11~22:20
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            22:21~22:30
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            22:31~22:40
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            22:41~22:50
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            22:51~23:00
                        </th>                         


                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            23:00~23:10
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            23:11~23:20
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            23:21~23:30
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            23:31~23:40
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            23:41~23:50
                        </th>
                        <th scope="col" class="py-10 px-0 -rotate-90 text-center">
                            23:51~24:00
                        </th>                         
                                                
                        
                        <th scope="col" class="py-3 px-6">
                            <span class="sr-only">View</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < items.length;  i++ ) { %>
                    <% item = items[i] %>
                    <% workingHour = items[i].working_hours %>
                    <% 
                        totalWorkingHours = 
                        (
                            workingHour.t6_10.status +  
                            workingHour.t6_20.status +  
                            workingHour.t6_30.status +  
                            workingHour.t6_40.status +  
                            workingHour.t6_50.status +  
                            workingHour.t6_60.status + 

                            workingHour.t7_10.status +  
                            workingHour.t7_20.status +  
                            workingHour.t7_30.status +  
                            workingHour.t7_40.status +  
                            workingHour.t7_50.status +  
                            workingHour.t7_60.status + 

                            workingHour.t8_10.status +  
                            workingHour.t8_20.status +  
                            workingHour.t8_30.status +  
                            workingHour.t8_40.status +  
                            workingHour.t8_50.status +  
                            workingHour.t8_60.status + 

                            workingHour.t9_10.status +  
                            workingHour.t9_20.status +  
                            workingHour.t9_30.status +  
                            workingHour.t9_40.status +  
                            workingHour.t9_50.status +  
                            workingHour.t9_60.status + 

                            workingHour.t10_10.status +  
                            workingHour.t10_20.status +  
                            workingHour.t10_30.status +  
                            workingHour.t10_40.status +  
                            workingHour.t10_50.status +  
                            workingHour.t10_60.status + 

                            workingHour.t11_10.status +  
                            workingHour.t11_20.status +  
                            workingHour.t11_30.status +  
                            workingHour.t11_40.status +  
                            workingHour.t11_50.status +  
                            workingHour.t11_60.status + 

                            workingHour.t12_10.status +  
                            workingHour.t12_20.status +  
                            workingHour.t12_30.status +  
                            workingHour.t12_40.status +  
                            workingHour.t12_50.status +  
                            workingHour.t12_60.status + 

                            workingHour.t13_10.status +  
                            workingHour.t13_20.status +  
                            workingHour.t13_30.status +  
                            workingHour.t13_40.status +  
                            workingHour.t13_50.status +  
                            workingHour.t13_60.status + 

                            workingHour.t14_10.status +  
                            workingHour.t14_20.status +  
                            workingHour.t14_30.status +  
                            workingHour.t14_40.status +  
                            workingHour.t14_50.status +  
                            workingHour.t14_60.status + 

                            workingHour.t15_10.status +  
                            workingHour.t15_20.status +  
                            workingHour.t15_30.status +  
                            workingHour.t15_40.status +  
                            workingHour.t15_50.status +  
                            workingHour.t15_60.status + 

                            workingHour.t16_10.status +  
                            workingHour.t16_20.status +  
                            workingHour.t16_30.status +  
                            workingHour.t16_40.status +  
                            workingHour.t16_50.status +  
                            workingHour.t16_60.status + 

                            workingHour.t17_10.status +  
                            workingHour.t17_20.status +  
                            workingHour.t17_30.status +  
                            workingHour.t17_40.status +  
                            workingHour.t17_50.status +  
                            workingHour.t17_60.status + 

                            workingHour.t18_10.status +  
                            workingHour.t18_20.status +  
                            workingHour.t18_30.status +  
                            workingHour.t18_40.status +  
                            workingHour.t18_50.status +  
                            workingHour.t18_60.status + 

                            workingHour.t19_10.status +  
                            workingHour.t19_20.status +  
                            workingHour.t19_30.status +  
                            workingHour.t19_40.status +  
                            workingHour.t19_50.status +  
                            workingHour.t19_60.status + 

                            workingHour.t20_10.status +  
                            workingHour.t20_20.status +  
                            workingHour.t20_30.status +  
                            workingHour.t20_40.status +  
                            workingHour.t20_50.status +  
                            workingHour.t20_60.status + 

                            workingHour.t21_10.status +  
                            workingHour.t21_20.status +  
                            workingHour.t21_30.status +  
                            workingHour.t21_40.status +  
                            workingHour.t21_50.status +  
                            workingHour.t21_60.status + 

                            workingHour.t22_10.status +  
                            workingHour.t22_20.status +  
                            workingHour.t22_30.status +  
                            workingHour.t22_40.status +  
                            workingHour.t22_50.status +  
                            workingHour.t22_60.status + 

                            workingHour.t23_10.status +  
                            workingHour.t23_20.status +  
                            workingHour.t23_30.status +  
                            workingHour.t23_40.status +  
                            workingHour.t23_50.status +  
                            workingHour.t23_60.status 
                            
                        ) * 10 ;   

                        shiftWorkingHours = 
                        (
                            workingHour.t6_10.in_shift +  
                            workingHour.t6_20.in_shift +  
                            workingHour.t6_30.in_shift +  
                            workingHour.t6_40.in_shift +  
                            workingHour.t6_50.in_shift +  
                            workingHour.t6_60.in_shift + 

                            workingHour.t7_10.in_shift +  
                            workingHour.t7_20.in_shift +  
                            workingHour.t7_30.in_shift +  
                            workingHour.t7_40.in_shift +  
                            workingHour.t7_50.in_shift +  
                            workingHour.t7_60.in_shift + 

                            workingHour.t8_10.in_shift +  
                            workingHour.t8_20.in_shift +  
                            workingHour.t8_30.in_shift +  
                            workingHour.t8_40.in_shift +  
                            workingHour.t8_50.in_shift +  
                            workingHour.t8_60.in_shift + 

                            workingHour.t9_10.in_shift +  
                            workingHour.t9_20.in_shift +  
                            workingHour.t9_30.in_shift +  
                            workingHour.t9_40.in_shift +  
                            workingHour.t9_50.in_shift +  
                            workingHour.t9_60.in_shift + 

                            workingHour.t10_10.in_shift +  
                            workingHour.t10_20.in_shift +  
                            workingHour.t10_30.in_shift +  
                            workingHour.t10_40.in_shift +  
                            workingHour.t10_50.in_shift +  
                            workingHour.t10_60.in_shift + 

                            workingHour.t11_10.in_shift +  
                            workingHour.t11_20.in_shift +  
                            workingHour.t11_30.in_shift +  
                            workingHour.t11_40.in_shift +  
                            workingHour.t11_50.in_shift +  
                            workingHour.t11_60.in_shift + 

                            workingHour.t12_10.in_shift +  
                            workingHour.t12_20.in_shift +  
                            workingHour.t12_30.in_shift +  
                            workingHour.t12_40.in_shift +  
                            workingHour.t12_50.in_shift +  
                            workingHour.t12_60.in_shift + 

                            workingHour.t13_10.in_shift +  
                            workingHour.t13_20.in_shift +  
                            workingHour.t13_30.in_shift +  
                            workingHour.t13_40.in_shift +  
                            workingHour.t13_50.in_shift +  
                            workingHour.t13_60.in_shift + 

                            workingHour.t14_10.in_shift +  
                            workingHour.t14_20.in_shift +  
                            workingHour.t14_30.in_shift +  
                            workingHour.t14_40.in_shift +  
                            workingHour.t14_50.in_shift +  
                            workingHour.t14_60.in_shift + 

                            workingHour.t15_10.in_shift +  
                            workingHour.t15_20.in_shift +  
                            workingHour.t15_30.in_shift +  
                            workingHour.t15_40.in_shift +  
                            workingHour.t15_50.in_shift +  
                            workingHour.t15_60.in_shift + 

                            workingHour.t16_10.in_shift +  
                            workingHour.t16_20.in_shift +  
                            workingHour.t16_30.in_shift +  
                            workingHour.t16_40.in_shift +  
                            workingHour.t16_50.in_shift +  
                            workingHour.t16_60.in_shift + 

                            workingHour.t17_10.in_shift +  
                            workingHour.t17_20.in_shift +  
                            workingHour.t17_30.in_shift +  
                            workingHour.t17_40.in_shift +  
                            workingHour.t17_50.in_shift +  
                            workingHour.t17_60.in_shift + 

                            workingHour.t18_10.in_shift +  
                            workingHour.t18_20.in_shift +  
                            workingHour.t18_30.in_shift +  
                            workingHour.t18_40.in_shift +  
                            workingHour.t18_50.in_shift +  
                            workingHour.t18_60.in_shift + 

                            workingHour.t19_10.in_shift +  
                            workingHour.t19_20.in_shift +  
                            workingHour.t19_30.in_shift +  
                            workingHour.t19_40.in_shift +  
                            workingHour.t19_50.in_shift +  
                            workingHour.t19_60.in_shift + 

                            workingHour.t20_10.in_shift +  
                            workingHour.t20_20.in_shift +  
                            workingHour.t20_30.in_shift +  
                            workingHour.t20_40.in_shift +  
                            workingHour.t20_50.in_shift +  
                            workingHour.t20_60.in_shift + 

                            workingHour.t21_10.in_shift +  
                            workingHour.t21_20.in_shift +  
                            workingHour.t21_30.in_shift +  
                            workingHour.t21_40.in_shift +  
                            workingHour.t21_50.in_shift +  
                            workingHour.t21_60.in_shift + 

                            workingHour.t22_10.in_shift +  
                            workingHour.t22_20.in_shift +  
                            workingHour.t22_30.in_shift +  
                            workingHour.t22_40.in_shift +  
                            workingHour.t22_50.in_shift +  
                            workingHour.t22_60.in_shift + 

                            workingHour.t23_10.in_shift +  
                            workingHour.t23_20.in_shift +  
                            workingHour.t23_30.in_shift +  
                            workingHour.t23_40.in_shift +  
                            workingHour.t23_50.in_shift +  
                            workingHour.t23_60.in_shift 
                            
                        ) * 10 ;
                    %>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white  sticky left-0 bg-white">
                            <%= item.name %><small> (<%= item.user_id %>)</small>
                        </th>
                        <td class="py-4 px-6 text-center">
                            <%= totalWorkingHours %> 
                        </td>
                        <td class="py-4 px-6 text-center">
                            <%= shiftWorkingHours %> 
                        </td>



                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t6_10.status == 1) ? 
                                    (workingHour.t6_10.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t6_20.status == 1) ? 
                                    (workingHour.t6_20.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t6_30.status == 1) ? 
                                    (workingHour.t6_30.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t6_40.status == 1) ? 
                                    (workingHour.t6_40.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t6_50.status == 1) ? 
                                    (workingHour.t6_50.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t6_60.status == 1) ? 
                                    (workingHour.t6_60.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>


                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t7_10.status == 1) ? 
                                    (workingHour.t7_10.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t7_20.status == 1) ? 
                                    (workingHour.t7_20.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t7_30.status == 1) ? 
                                    (workingHour.t7_30.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t7_40.status == 1) ? 
                                    (workingHour.t7_40.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t7_50.status == 1) ? 
                                    (workingHour.t7_50.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t7_60.status == 1) ? 
                                    (workingHour.t7_60.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>


                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t8_10.status == 1) ? 
                                    (workingHour.t8_10.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t8_20.status == 1) ? 
                                    (workingHour.t8_20.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t8_30.status == 1) ? 
                                    (workingHour.t8_30.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t8_40.status == 1) ? 
                                    (workingHour.t8_40.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t8_50.status == 1) ? 
                                    (workingHour.t8_50.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t8_60.status == 1) ? 
                                    (workingHour.t8_60.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>


                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t9_10.status == 1) ? 
                                    (workingHour.t9_10.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t9_20.status == 1) ? 
                                    (workingHour.t9_20.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t9_30.status == 1) ? 
                                    (workingHour.t9_30.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t9_40.status == 1) ? 
                                    (workingHour.t9_40.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t9_50.status == 1) ? 
                                    (workingHour.t9_50.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t9_60.status == 1) ? 
                                    (workingHour.t9_60.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>


                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t10_10.status == 1) ? 
                                    (workingHour.t10_10.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t10_20.status == 1) ? 
                                    (workingHour.t10_20.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t10_30.status == 1) ? 
                                    (workingHour.t10_30.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t10_40.status == 1) ? 
                                    (workingHour.t10_40.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t10_50.status == 1) ? 
                                    (workingHour.t10_50.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>

                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t10_60.status == 1) ? 
                                    (workingHour.t10_60.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>

                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t11_10.status == 1) ? 
                                    (workingHour.t11_10.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t11_20.status == 1) ? 
                                    (workingHour.t11_20.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t11_30.status == 1) ? 
                                    (workingHour.t11_30.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t11_40.status == 1) ? 
                                    (workingHour.t11_40.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t11_50.status == 1) ? 
                                    (workingHour.t11_50.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t11_60.status == 1) ? 
                                    (workingHour.t11_60.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>      
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t12_10.status == 1) ? 
                                    (workingHour.t12_10.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>   
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t12_20.status == 1) ? 
                                    (workingHour.t12_20.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t12_30.status == 1) ? 
                                    (workingHour.t12_30.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t12_40.status == 1) ? 
                                    (workingHour.t12_40.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t12_50.status == 1) ? 
                                    (workingHour.t12_50.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t12_60.status == 1) ? 
                                    (workingHour.t12_60.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>                 
                        
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t13_10.status == 1) ? 
                                    (workingHour.t13_10.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t13_20.status == 1) ? 
                                    (workingHour.t13_20.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t13_30.status == 1) ? 
                                    (workingHour.t13_30.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t13_40.status == 1) ? 
                                    (workingHour.t13_40.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t13_50.status == 1) ? 
                                    (workingHour.t13_50.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t13_60.status == 1) ? 
                                    (workingHour.t13_60.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>                 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t14_10.status == 1) ? 
                                    (workingHour.t14_10.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>    
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t14_20.status == 1) ? 
                                    (workingHour.t14_20.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>   
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t14_30.status == 1) ? 
                                    (workingHour.t14_30.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>   
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t14_40.status == 1) ? 
                                    (workingHour.t14_40.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t14_50.status == 1) ? 
                                    (workingHour.t14_50.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t14_60.status == 1) ? 
                                    (workingHour.t14_60.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>                  
                        
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t15_10.status == 1) ? 
                                    (workingHour.t15_10.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>  
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t15_20.status == 1) ? 
                                    (workingHour.t15_20.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>  
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t15_30.status == 1) ? 
                                    (workingHour.t15_30.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t15_40.status == 1) ? 
                                    (workingHour.t15_40.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t15_50.status == 1) ? 
                                    (workingHour.t15_50.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t15_60.status == 1) ? 
                                    (workingHour.t15_60.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>                  
                        
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t16_10.status == 1) ? 
                                    (workingHour.t16_10.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t16_20.status == 1) ? 
                                    (workingHour.t16_20.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t16_30.status == 1) ? 
                                    (workingHour.t16_30.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t16_40.status == 1) ? 
                                    (workingHour.t16_40.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t16_50.status == 1) ? 
                                    (workingHour.t16_50.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t16_60.status == 1) ? 
                                    (workingHour.t16_60.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>                   
                        
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t17_10.status == 1) ? 
                                    (workingHour.t17_10.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t17_20.status == 1) ? 
                                    (workingHour.t17_20.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t17_30.status == 1) ? 
                                    (workingHour.t17_30.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t17_40.status == 1) ? 
                                    (workingHour.t17_40.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t17_50.status == 1) ? 
                                    (workingHour.t17_50.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t17_60.status == 1) ? 
                                    (workingHour.t17_60.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>                  
                        
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t18_10.status == 1) ? 
                                    (workingHour.t18_10.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t18_20.status == 1) ? 
                                    (workingHour.t18_20.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t18_30.status == 1) ? 
                                    (workingHour.t18_30.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t18_40.status == 1) ? 
                                    (workingHour.t18_40.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t18_50.status == 1) ? 
                                    (workingHour.t18_50.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t18_60.status == 1) ? 
                                    (workingHour.t18_60.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>                
                        
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t19_10.status == 1) ? 
                                    (workingHour.t19_10.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t19_20.status == 1) ? 
                                    (workingHour.t19_20.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t19_30.status == 1) ? 
                                    (workingHour.t19_30.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t19_40.status == 1) ? 
                                    (workingHour.t19_40.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t19_50.status == 1) ? 
                                    (workingHour.t19_50.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t19_60.status == 1) ? 
                                    (workingHour.t19_60.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>                 
                        
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t20_10.status == 1) ? 
                                    (workingHour.t20_10.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t20_20.status == 1) ? 
                                    (workingHour.t20_20.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t20_30.status == 1) ? 
                                    (workingHour.t20_30.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t20_40.status == 1) ? 
                                    (workingHour.t20_40.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t20_50.status == 1) ? 
                                    (workingHour.t20_50.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t20_60.status == 1) ? 
                                    (workingHour.t20_60.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>                
                        
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t21_10.status == 1) ? 
                                    (workingHour.t21_10.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t21_20.status == 1) ? 
                                    (workingHour.t21_20.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t21_30.status == 1) ? 
                                    (workingHour.t21_30.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t21_40.status == 1) ? 
                                    (workingHour.t21_40.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t21_50.status == 1) ? 
                                    (workingHour.t21_50.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t21_60.status == 1) ? 
                                    (workingHour.t21_60.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>                   
                        

                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t22_10.status == 1) ? 
                                    (workingHour.t22_10.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>  
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t22_20.status == 1) ? 
                                    (workingHour.t22_20.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t22_30.status == 1) ? 
                                    (workingHour.t22_30.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t22_40.status == 1) ? 
                                    (workingHour.t22_40.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t22_50.status == 1) ? 
                                    (workingHour.t22_50.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t22_60.status == 1) ? 
                                    (workingHour.t22_60.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>      

                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t23_10.status == 1) ? 
                                    (workingHour.t23_10.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t23_20.status == 1) ? 
                                    (workingHour.t23_20.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t23_30.status == 1) ? 
                                    (workingHour.t23_30.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t23_40.status == 1) ? 
                                    (workingHour.t23_40.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t23_50.status == 1) ? 
                                    (workingHour.t23_50.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td> 
                        <td class="py-4 px-6 text-center 
                            <%=  (workingHour.t23_60.status == 1) ? 
                                    (workingHour.t23_60.in_shift == 1) ? 'bg-green-600' : 'bg-green-300' 
                                        : 'bg-gray-200' %>">
                        </td>                
                        
                        
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                               
                                                
                        
                                                

                        <td class="py-4 px-6 text-right">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">View</a>
                        </td>
                    </tr>
                    <% } %>
                    
                </tbody>
            </table>
        </div>






        
    </main>
  </body>
</html>
